@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-600px {
    height: 600px;
  }

  .border-20px {
    border-width: 20px;
  }

  .bg-window {
    background-image: url("https://user-images.githubusercontent.com/79782594/232187470-3a07d9db-c99e-4b51-af15-c8ffcf5744f5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-task {
    background: rgb(209, 231, 240);
  }

  .context-shadow {
    box-shadow: 3px 3px 5px 0px #808080;
  }

  .w-200 {
    width: 50rem;
  }
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: light;
  src: url("./assets/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: medium;
  src: url("./assets/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: regular;
  src: url("./assets/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: thin;
  src: url("./assets/fonts/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}

body {
  min-height: 100vh;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: bold;
  background-color: rgb(241 245 249);
}

pre {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-icon {
  animation: none;
}

.custom-overlay {
  z-index: 20;
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.program-overlay {
  pointer-events: auto;
}
